@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #386cb0;
    color: white;
    font-family: 'Montserrat';
}

a {
    color: white;
    text-decoration: none;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hero-wrapper {
    /* background : #5C9BED */
    background: #438cec;
}

.wrapper {
    padding: 16px;
    max-width: 1200px;
    /* will not apply wrapper after 1200px */
    margin: 0 auto;
    /* will centre after 1200px */

}

header {
    display: flex;
    /* will make collumns of content */
    justify-content: space-between;
    /* make equal space */

}

header .logo {
    font-weight: bold;
}

header nav ul {
    display: flex;
}

nav ul li a {
    padding: .6em;
    text-decoration: none;

}


.hero-content {
    margin: 4em 0 2em;
    /* to give whitespace at top */
}

.second-wrapper {
    background: #5C9BED;

}

/* to centre title and applying bar effect from right */
.bar {
    text-align: center;

}

.bar h2.work {
    display: inline-block;
    margin-top: 0;
    padding-top: 1em;
    padding-left: .5em;
    position: relative;
   
}

.bar h2.work::before {
    content: " ";
    position: absolute;
    height: 5px;
    width: 30px;
    background: #3d80d8;
    top: 2.3em;
    right: -.6em;
}

ul li a {
    text-decoration: underline;
}

/* grid layout by designer YT */
.work {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    justify-content: space-around;
}

.work li {
    margin-bottom: 1.5em;

}

.work li span {
    display: block;

}



.sub-conten {
    padding: 0 1.5em 2em;
    text-align: justify;
    /* max-width: 1230px; */
    margin: 0 auto;
}

/* to get the different color bar at end of title */
.bar h2.connect {
    display: inline-block;
    margin-top: 0;
    padding-top: 1em;
    padding-left: .5em;
    position: relative;
   
}

.bar h2.connect::before{
    content: " ";
    position: absolute;
    height: 5px;
    width: 30px;
    background: #3d80d8;
    top: 2.3em;
    right: -1em;
}


/* grid layout by designer YT */
.social-profile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    justify-content: space-around;
}

.social-profile span {
    display: block;
}



/* After 650px */
@media (min-width:650px) {
    body {
        font-size: 18px;
    }

    .wrapper {
        padding: 1.5em 4em;
    }
}

@media(min-width:853px) {

    body {
        font-size: 20px;
    }

    h1 {
        font-size: 2.5em;
    }
}