:root{
    --secondary-bg :rgba(0,0,0,.9);
    --inner-bg : rgba(128, 128, 128, 0.9);
    
}

body{
    min-height: 100vh;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--secondary-bg);    
    display: flex;
    /* justify=>horizontal */
    justify-content: center;
    /* align => vertical */
    align-items: center; 


}

.phone-body{
    position: relative;
    width: 350px;
    height: 750px;
    border-radius: 30px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center; 
    box-shadow:  1px 2px 1px rosybrown inset,
               2px 10px 3px rgba(149,165,166 ,0.1);


}

.inner-body{
    width: 90%;
    height: 80%;
    background-color: var(--inner-bg);
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
}

article{
    background-color: antiquewhite;
    padding: 0.8rem;
    border-radius: 5px;
    font-size: 2em;
}


.inner-body::after{
    content: " ";
    width: 50px;
    height: 50px;
    /* background-color: red; */
    border-radius: 50%;
    position: absolute;
    /* negative values place opposite to the direction */
    bottom: -60px;

    /* box-shadow:  X Y B S C */
    box-shadow: 0px 1px 1px 1px rgb(144, 144, 144);
}

.inner-body::before{
    content: " ";
    width: 50px;
    height: 10px;
    background-color: var(--inner-bg);

    border-radius: 5px;
    position: absolute;
    top:-40px;
}

.phone-body::after,.phone-body::before{
    position: absolute;
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--inner-bg);
    top:16px;
}

.phone-body::before{
    left: 132px;
    top: 34px;
    width: 12px;
    height: 12px;
}